<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>These are some thinks about</p>
        <img class="portrait" src="/img/8340.jpg">
        <img class="portrait" src="/img/IMG_20210109_154930.jpg">
    </div>

    {{>footer}}
</body>

</html>